body {
    margin: 0;
    font-family: 'Urbanist', sans-serif;
}

.main-wrapper {
    display: flex;
    flex-direction: row;
}

.form-container {
    width: 50%;
    box-sizing: border-box;
    height: 100vh;
    background-color: #ffffff;
    padding: 40px 80px 80px 80px;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    box-sizing: border-box;
    height: 100vh;
    padding: 40px;
    background-image: url('../images/registration-page-cover.jpg');
    background-size: cover;
}

.tagline-text {
    color: #ffffff;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

.logo-img {
    width: 50px;
}

.tell-us-text {
    font-size: 28px;
    margin-top: 60px;
    margin-bottom: 10px;
}

.text-gray {
    color: #777777;
}

.registration-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form-text-input, .form-select {
    width: 100%;
    box-sizing: border-box;
    padding: 14px;
    background-color: #efefef;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
}

.reg-business-label {
    font-size: 14px;
    margin-top: 10px;
    color: #555555;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input[name=city] {
    margin-left: 10px;
}

.form-action-wrapper {
    margin-top: 20px;
    align-items: center;
}

.go-back-text {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #555555;
}

.primary-btn {
    background-color: #03ac13;
    padding: 14px 20px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    transition: all 300ms ease-in;
}

.primary-btn:hover {
    background-color: #03c04a;
}